body{
	margin: 0;
	font-family: arial;
	background-color: black;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	position: sticky;
	top: 0;
	z-index: 1;
}

li{
	float: left;
}

li a {
 	display: block;
 	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover{
	color: black;
	background-color: white;
}

.kepala{
	background-color: black;
}

.gambar-awal{
	background-image: url("gambar/awal.jpg");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: cover;
	filter: blur(2px);
	height: 720px;
}

.sambutan{
	background-color: rgb(0,0,0); /* Fallback color */
 	background-color: rgba(0,0,0, 0.9); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
  	border: 3px solid #f1f1f1;
  	position: absolute;
  	top: 500px;
  	left: 100px;
  	width: 500px;
  	padding: 20px;
}

.masuk-daftar{
	max-width: 320px;
	padding: 10px;
	display: none;
	position: fixed;
	top: 25%;
	left: 25%;
	z-index: 10;
	border: 8px solid #8f8f8f;
	background-color: #f1f1f1;
	border-radius: 50px;
	
}

.formulir-masuk{
	padding: 10px;
	max-width: 300px;
}

.formulir-daftar{
	display: none;
	padding: 10px;
	max-width: 300px;	
}

.masuk-daftar input{
	border-radius: 10px;
	padding: 10px;
	border-style: hidden;
	margin-bottom: 10px;
}

.masuk-daftar input:focus{
	background-color: #e6feff;
}

.tombol-masuk{
	color: white;
	background-color: green;
	width: 80px;
	padding: 10px;
	border-radius: 20px;
	border-style: hidden;
}

.tombol-batal{
	color: white;
	background-color: red;
	width: 80px;
	padding: 10px;
	border-radius: 20px;
	border-style: hidden;
}